root = true

charset = utf-8-bom

[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
resharper_unused_using_directive_highlighting = error
resharper_redundant_default_field_initializer_highlighting = error
resharper_suggest_var_highlighting = error
resharper_class_never_instantiated_global_highlighting = error
